@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

header {
  width: 100%;
  height: 40px;
  border: 1px  solid #CCCCCC;
  line-height: 40px;
  background: #EEEEEE; }

header .city {
  float: left; }
  header .city span {
    color: green;
    font-size: 20px; }
  header .city a {
    color: #808080; }

header {
  position: relative; }
  header .log {
    margin-left: 700px; }
    header .log li {
      float: left; }
      header .log li a {
        color: #808080; }
      header .log li span {
        margin-left: 10px;
        margin-right: 10px; }
      header .log li .advise {
        color: red; }
  header #citypage1 {
    line-height: 30px;
    border: 1px solid #CCCCCC;
    width: 600px;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 6;
    display: none; }
    header #citypage1 #citypage {
      cursor: pointer;
      margin: 10px;
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      width: 580px; }
      header #citypage1 #citypage ul {
        overflow: hidden; }
        header #citypage1 #citypage ul li {
          float: left;
          padding-left: 5px; }

#letter-list {
  border-bottom: 1px solid #CCCCCC; }

#login {
  width: 500px;
  height: 300px;
  border: 1px solid #CCCCCC;
  background: #FFFFFF url(../image/man1.png) no-repeat;
  position: absolute;
  top: 200px;
  left: 600px;
  z-index: 33;
  display: none; }
  #login h2 {
    width: 100%;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC; }
  #login input[type="text"] {
    width: 300px;
    height: 40px; }
  #login input[type="checkbox"] {
    margin-left: 100px; }
  #login span {
    margin-left: 100px; }
  #login p {
    margin-left: 50px;
    margin-top: 10px; }
  #login #lgBtn {
    width: 300px;
    height: 40px;
    margin-left: 100px; }
  #login #close-lg {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 20px; }

#tel-block {
  width: 395px;
  height: 400px;
  line-height: 16px;
  float: left;
  padding-left: 10px;
  font-size: 18px;
  border-left: 1px solid #CCCCCC; }
  #tel-block span {
    display: block;
    margin-left: 70px;
    font-size: 14px; }
  #tel-block button {
    width: 120px;
    height: 40px;
    margin-left: 10px; }
  #tel-block input[type="text"] {
    margin-left: 10px; }
  #tel-block input:nth-child(1) {
    width: 300px;
    height: 40px; }
  #tel-block :nth-child(4) {
    width: 170px;
    height: 40px; }
  #tel-block :nth-child(9) {
    width: 170px;
    height: 40px; }
  #tel-block :nth-child(13) {
    width: 300px;
    height: 40px; }
  #tel-block #set {
    width: 305px;
    height: 40px;
    margin-left: 60px;
    background: green;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-size: 18px; }
  #tel-block input[type="checkbox"] {
    margin-left: 60px;
    margin-top: 10px; }

#user-block {
  width: 150px;
  height: 400px;
  position: relative;
  float: left;
  padding-top: 30px;
  color: #666666; }
  #user-block .tel {
    border: 1px solid #CCCCCC;
    background: #a7deef; }
    #user-block .tel img {
      margin-top: 20px; }
  #user-block .emile {
    border: 1px solid #CCCCCC; }
    #user-block .emile img {
      margin-top: 20px; }
  #user-block p {
    margin-top: 195px; }

#close-log {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 20px; }

#newUser {
  width: 600px;
  height: 470px;
  background: #FFFFFF url(../image/man1.png) no-repeat;
  display: none;
  border: 1px solid #CCCCCC;
  position: absolute;
  cursor: pointer;
  top: 200px;
  left: 600px;
  z-index: 33; }
  #newUser h2 {
    width: 100%;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC; }
  #newUser b {
    width: 90px;
    height: 40px;
    display: inline-block;
    border: 1px solid #333;
    line-height: 35px;
    margin-left: 10px;
    text-align: center; }

nav {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  background: url("../image/logo1.png") no-repeat 0px 10px; }
  nav ul {
    margin-left: 500px; }
    nav ul li {
      float: left;
      line-height: 80px;
      margin-left: 10px;
      margin-right: 10px; }
      nav ul li a {
        color: #666666;
        line-height: 30px;
        display: inline-block;
        width: 70px;
        height: 30px; }
      nav ul li a:hover {
        background: #EEEEEE; }

.swiper-container {
  position: relative;
  width: 80%;
  height: 340px;
  margin: 0 auto; }
  .swiper-container .swiper-wrapper img {
    width: 100%;
    height: 340px; }
  .swiper-container .banner-list {
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 340px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4); }
    .swiper-container .banner-list ul li {
      border-bottom: 1px solid #808080;
      height: 85px;
      line-height: 85px; }
      .swiper-container .banner-list ul li span {
        line-height: 30px;
        display: inline-block;
        width: 180px;
        height: 30px;
        margin-left: 40px; }
      .swiper-container .banner-list ul li a {
        color: #FFFFFF; }
    .swiper-container .banner-list ul li:hover {
      background: rgba(0, 255, 0, 0.4); }

.content {
  width: 100%;
  background: #EEEEEE; }
  .content .pic-list {
    margin: 0 auto;
    background: #FFFFFF;
    width: 80%;
    height: 170px; }
    .content .pic-list img {
      width: 24%; }
  .content h2 {
    color: #808080;
    font-family: "微软雅黑";
    width: 80%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px; }
    .content h2 a {
      font-size: 14px;
      color: #808080;
      float: right; }
  .content .hot-tel {
    margin: 0 auto;
    width: 80%;
    height: 302px;
    background: #FFFFFF; }
    .content .hot-tel .pic-head {
      float: left;
      width: 18%;
      height: 302px; }
    .content .hot-tel ul {
      width: 100%;
      height: 302px; }
      .content .hot-tel ul li {
        text-align: center;
        float: left;
        width: 16.3%;
        height: 290px; }
        .content .hot-tel ul li img {
          width: 70%;
          height: 90%; }
  .content .hot-select {
    margin: 0 auto;
    width: 80%;
    height: 302px;
    background: white; }
    .content .hot-select .pic-select {
      float: left;
      width: 18%;
      height: 302px; }
    .content .hot-select ul {
      width: 100%;
      height: 302px; }
      .content .hot-select ul li {
        text-align: center;
        float: left;
        width: 16.3%;
        height: 290px; }
        .content .hot-select ul li img {
          width: 80%;
          height: 90%; }

.select {
  width: 80%;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  font-size: 20px; }
  .select span {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid green;
    margin-right: 10px;
    float: left; }
  .select input[type="text"] {
    width: 575px;
    height: 38px;
    border: 1px solid green;
    float: left; }
  .select input[type="button"] {
    width: 100px;
    height: 40px;
    background: green;
    color: white;
    border: none;
    float: left; }

.shop-list {
  width: 80%;
  margin: 0 auto; }
  .shop-list .bar {
    width: 75%;
    height: 40px;
    background: #EEEEEE;
    border: 1px solid #808080;
    line-height: 40px;
    margin-top: 20px; }
    .shop-list .bar span {
      width: 100px;
      height: 40px;
      float: left;
      border-right: 1px solid #808080;
      display: inline-block;
      text-align: center;
      color: #008000; }
    .shop-list .bar ul li {
      float: left;
      margin-left: 40px;
      margin-right: 40px; }
    .shop-list .bar a {
      width: 100px;
      height: 30px;
      float: right;
      border: 1px solid #808080;
      line-height: 30px;
      margin-right: 20px;
      margin-top: 5px;
      text-align: center;
      color: #333333; }
  .shop-list .shop {
    width: 75%;
    color: #808080;
    float: left;
    margin-top: 10px; }
    .shop-list .shop dl {
      width: 100%;
      height: 160px;
      position: relative;
      border-bottom: 1px solid #CCCCCC; }
      .shop-list .shop dl dt {
        float: left;
        margin-right: 10px; }
      .shop-list .shop dl dd {
        margin-top: 20px;
        line-height: 30px; }
        .shop-list .shop dl dd p {
          width: 50%;
          height: 30px;
          display: inline-block; }
          .shop-list .shop dl dd p a {
            color: #008000;
            margin-right: 20px; }
          .shop-list .shop dl dd p span {
            margin-left: 20px; }
        .shop-list .shop dl dd span {
          margin-left: 50px; }
      .shop-list .shop dl .in-shop {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 100px;
        height: 40px;
        border: 1px solid green;
        color: #008000;
        font-size: 20px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        display: none; }
  .shop-list dl:hover .in-shop {
    display: block; }

.like {
  width: 300px;
  height: 500px;
  margin-left: 80px;
  border: 1px solid #CCCCCC;
  float: left; }
  .like dl {
    width: 100%;
    height: 70px;
    margin-top: 10px; }
    .like dl img {
      width: 100px;
      height: 70px;
      float: left; }

.footer {
  float: left;
  padding-top: 20px;
  color: #333333;
  width: 100%;
  height: 200px;
  border-top: 1px solid #CCCCCC; }
  .footer a {
    color: #333333;
    margin-left: 10px; }
  .footer ul li {
    width: 20%;
    height: 100px;
    text-align: center;
    float: left; }
  .footer p {
    text-align: center; }
    .footer p span {
      margin-left: 20px; }

/*# sourceMappingURL=index.css.map */
