* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html, body {
  width: 100%; }

header {
  width: 100%;
  height: 40px;
  border: 1px  solid #CCCCCC;
  line-height: 40px;
  background: #EEEEEE; }

header .city {
  float: left; }
  header .city span {
    color: green;
    font-size: 20px; }
  header .city a {
    color: #808080; }

header {
  position: relative; }
  header .log {
    margin-left: 700px; }
    header .log li {
      float: left; }
      header .log li a {
        color: #808080; }
      header .log li span {
        margin-left: 10px;
        margin-right: 10px; }
      header .log li .advise {
        color: red; }
  header #citypage1 {
    line-height: 30px;
    border: 1px solid #CCCCCC;
    width: 600px;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 6;
    display: none; }
    header #citypage1 #citypage {
      cursor: pointer;
      margin: 10px;
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      width: 580px; }
      header #citypage1 #citypage ul {
        overflow: hidden; }
        header #citypage1 #citypage ul li {
          float: left;
          padding-left: 5px; }

#letter-list {
  border-bottom: 1px solid #CCCCCC; }

#login {
  width: 500px;
  height: 300px;
  border: 1px solid #CCCCCC;
  background: #FFFFFF url(../image/man1.png) no-repeat;
  position: absolute;
  top: 200px;
  left: 600px;
  z-index: 33;
  display: none; }
  #login h2 {
    width: 100%;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC; }
  #login input[type="text"] {
    width: 300px;
    height: 40px; }
  #login input[type="checkbox"] {
    margin-left: 100px; }
  #login span {
    margin-left: 100px; }
  #login p {
    margin-left: 50px;
    margin-top: 10px; }
  #login #lgBtn {
    width: 300px;
    height: 40px;
    margin-left: 100px; }
  #login #close-lg {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 20px; }

#tel-block {
  width: 395px;
  height: 400px;
  line-height: 16px;
  float: left;
  padding-left: 10px;
  font-size: 18px;
  border-left: 1px solid #CCCCCC; }
  #tel-block span {
    display: block;
    margin-left: 70px;
    font-size: 14px; }
  #tel-block button {
    width: 120px;
    height: 40px;
    margin-left: 10px; }
  #tel-block input[type="text"] {
    margin-left: 10px; }
  #tel-block input:nth-child(1) {
    width: 300px;
    height: 40px; }
  #tel-block :nth-child(4) {
    width: 170px;
    height: 40px; }
  #tel-block :nth-child(9) {
    width: 170px;
    height: 40px; }
  #tel-block :nth-child(13) {
    width: 300px;
    height: 40px; }
  #tel-block #set {
    width: 305px;
    height: 40px;
    margin-left: 60px;
    background: green;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-size: 18px; }
  #tel-block input[type="checkbox"] {
    margin-left: 60px;
    margin-top: 10px; }

#user-block {
  width: 150px;
  height: 400px;
  position: relative;
  float: left;
  padding-top: 30px;
  color: #666666; }
  #user-block .tel {
    border: 1px solid #CCCCCC;
    background: #a7deef; }
    #user-block .tel img {
      margin-top: 20px; }
  #user-block .emile {
    border: 1px solid #CCCCCC; }
    #user-block .emile img {
      margin-top: 20px; }
  #user-block p {
    margin-top: 195px; }

#close-log {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 20px; }

#newUser {
  width: 600px;
  height: 470px;
  background: #FFFFFF url(../image/man1.png) no-repeat;
  display: none;
  border: 1px solid #CCCCCC;
  position: absolute;
  cursor: pointer;
  top: 200px;
  left: 600px;
  z-index: 33; }
  #newUser h2 {
    width: 100%;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC; }
  #newUser b {
    width: 90px;
    height: 40px;
    display: inline-block;
    border: 1px solid #333;
    line-height: 35px;
    margin-left: 10px;
    text-align: center; }

.nav {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #4BAC20; }
  .nav ul {
    width: 50%;
    height: 50px;
    padding-left: 400px;
    float: left;
    margin-bottom: 10px; }
    .nav ul li {
      float: left;
      line-height: 80px;
      margin-left: 10px;
      margin-right: 10px; }
      .nav ul li a {
        color: #666666;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        width: 70px;
        height: 30px; }
      .nav ul li a:hover {
        background: #EEEEEE; }
  .nav input[type="text"] {
    width: 500px;
    height: 46px;
    border: 2px solid #4BAC20;
    float: left;
    margin-left: 580px; }
  .nav input[type="button"] {
    width: 100px;
    height: 50px;
    background: #4BAC20;
    color: white;
    border: none;
    float: left; }

.shop {
  width: 1000px;
  height: 200px;
  border: 1px solid #CCCCCC;
  margin: 0 auto;
  margin-top: 10px; }
  .shop dl {
    width: 100%;
    height: 160px;
    position: relative; }
    .shop dl dt {
      float: left;
      margin-right: 10px; }
    .shop dl dd {
      margin-top: 20px;
      line-height: 30px; }
      .shop dl dd p {
        width: 50%;
        height: 30px;
        display: inline-block; }
        .shop dl dd p a {
          color: #008000;
          margin-right: 20px; }
        .shop dl dd p span {
          margin-left: 20px; }
      .shop dl dd span {
        margin-left: 50px; }

.footer {
  float: left;
  padding-top: 20px;
  color: #333333;
  width: 100%;
  height: 200px;
  border-top: 1px solid #CCCCCC; }
  .footer a {
    color: #333333;
    margin-left: 10px; }
  .footer ul li {
    width: 20%;
    height: 100px;
    text-align: center;
    float: left; }
  .footer p {
    text-align: center; }
    .footer p span {
      margin-left: 20px; }

/*# sourceMappingURL=shop.css.map */
